@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

* {
	text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.header__bg {
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 75%;
  margin:0;
  background-image: linear-gradient(#53ff87, #38756dad);
  transform: skewY(-6deg);
  transform-origin: top left;
}

#canv {
  border: 7px;
  border-style: solid;
  border-bottom-color: rgb(0, 2, 99);
  border-right-color: rgb(0, 2, 99);
  border-top-color: rgb(0, 84, 153);
  border-left-color: rgb(0, 84, 153);
  margin: 0px;
  padding: 0px;
}

div {
  margin: auto;
  width: 50%;
  padding: 10px;
}

#tela {
  border: 7px;
  border-style: solid;
  border-bottom-color: rgb(0, 1, 73);
  border-right-color: rgb(0, 1, 73);
  border-top-color: rgb(0, 68, 124);
  border-left-color: rgb(0, 68, 124);
  margin: 0px;
  padding: 0px;
}

.optionMenu {
  border: 3px solid rgb(255, 255, 255);
  padding-left: 20px;
  padding-right: 20px;
  padding: 20px;
  text-align: center;
}

body {
  align-self: center;
  margin: 0px;
  background-color: #56c28c;
}

input{
  margin: 5px;
}

button {
  border-spacing: 10px;
  font-family: "Ubuntu";
  width: 130px;
  height: 50px;
  border: 5px solid rgb(0, 0, 0);
  background-color: rgb(107, 188, 202);
  margin: 5px;
  border-radius: 10px;
  background-color: rgba(aqua, 0);
  animation: 0.25s ease-in-out 0s buttonAnimOut;
  position: relative;
}

button:hover{
  animation: 0.25s ease-in-out 0s buttonAnimIn;
  border: 10px solid rgb(107, 188, 202);
  background-image: linear-gradient(-90deg, rgb(227, 233, 236), rgb(0, 160, 209));
  border-radius: 20px;
}

@keyframes buttonAnimIn {
  0% {
      border: 5px solid rgb(0, 0, 0);
      background-image: linear-gradient(90deg, rgb(227, 233, 236), rgb(0, 160, 209));
      border-radius: 10px;
  }
  20%{
      background-image: linear-gradient(60deg,  rgb(227, 233, 236), rgb(0, 160, 209));
  }
  40%{
      background-image: linear-gradient(30deg,  rgb(227, 233, 236), rgb(0, 160, 209));
  }
  60%{
      background-image: linear-gradient(-30deg,  rgb(227, 233, 236), rgb(0, 160, 209));
  }
  80%{
      background-image: linear-gradient(-60deg,  rgb(227, 233, 236), rgb(0, 160, 209));
  }
  100% {
      border: 10px solid rgb(107, 188, 202);
      background-image: linear-gradient(-90deg,  rgb(227, 233, 236), rgb(0, 160, 209));
      border-radius: 20px;
  }
}

@keyframes buttonAnimOut {
  0% {
      border: 10px solid rgb(107, 188, 202);
      background-image: linear-gradient(-90deg,  rgb(227, 233, 236), rgb(0, 160, 209));
      border-radius: 20px;
  }
  20%{
      background-image: linear-gradient(-60deg,  rgb(227, 233, 236), rgb(0, 160, 209));
  }
  40%{
      background-image: linear-gradient(-30deg,  rgb(227, 233, 236), rgb(0, 160, 209));
  }
  60%{
      background-image: linear-gradient(30deg,  rgb(227, 233, 236), rgb(0, 160, 209));
  }
  80%{
      background-image: linear-gradient(60deg,  rgb(227, 233, 236), rgb(0, 160, 209));
  }
  100% {
      border: 5px solid rgb(0, 0, 0);
      background-image: linear-gradient(90deg,  rgb(227, 233, 236), rgb(0, 160, 209));
      border-radius: 10px;
  }
}